@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-50: #f7f8fb;
  --color-brand-100: #f1f4f8;
  --color-brand-200: #cbd2e1;
  --color-brand-300: #a4b8d3;
  --color-brand-600: #4f6c92;
  --color-brand-900: #004fb4;
  --color-pink-50: #eed2df;
  --color-pink-300: #fe93b3;
  --color-pink-600: #e2006a;
  --color-green-50: #caefd8;
  --color-green-300: #55cb82;
  --color-green-600: #16a64d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
